@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mengganti font Inter dengan DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 50.2%;
    --accent: 300 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --ring: 217 91% 60%; 
  
    --radius: 0.75rem; /* 12px */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    /* font-sans akan otomatis mengambil dari tailwind.config.ts */
    @apply bg-white text-black font-sans;
  }
}

/* Menambahkan utility class untuk gradien kustom */
@layer utilities {
  .bg-login-gradient {
    background: linear-gradient(153.69deg, rgba(250, 212, 20, 0.78) 0%, rgba(0, 166, 227, 0.78) 50%, rgba(232, 32, 126, 0.78) 100%);
  }
  .bg-button-gradient {
    background: linear-gradient(90deg, rgba(250, 212, 20, 0.22) 0%, rgba(0, 166, 227, 0.22) 50%, rgba(232, 32, 126, 0.22) 100%);
  }
}